#root {
    max-width: 1280px;
}
.outermost {
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: start;
}
.outermost-side {
    height: 100%;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding-top: 5px;
}
.side-topbar-left, .side-topbar-right {
    height: 50px;
    background: #EFEFEF;
    background: -moz-linear-gradient(top, #EFEFEF 0%, #FEFEFE 50%, #EFEFEF 100%);
    background: -webkit-linear-gradient(top, #EFEFEF 0%, #FEFEFE 50%, #EFEFEF 100%);
    background: linear-gradient(to bottom, #EFEFEF 0%, #FEFEFE 50%, #EFEFEF 100%);
    box-shadow: rgba(0, 0, 0, 0.1) 0px 10px 50px;
}
.side-topbar-left {
    border-radius: 0px 7px 7px 0px;
}
.side-topbar-right {
    border-radius: 7px 0px 0px 7px;
}
.food-manager {
    width: 988px;
    display: flex;
    flex-direction: column;
    padding: 5px;
}
.top-bar {
    width: 100%;
    height: 50px;
    display: flex;
    background-color: transparent;
    border-radius: 10px 10px 0px 0px;
    border-bottom: 3px solid black;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.top-bar-inner {
    display: flex;
    align-items: center;
    justify-content: start;
}
.mer-information,
.restore-button {
    width: 150px;
    background-color: white;
    padding: 6px;
    font-size: small;
    font-weight: 500;
    border: none;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.mer-information {
    margin-left: 30px;
}
.restore-button {
    margin-left: 25px;
}
.restore-icon {
    margin-right: 8px;
}
.info-icon {
    margin-right: 11px;
}
.food-main {
    min-height: 550px;
    display: flex;
    flex-direction: row;
}
.food-main-left {
    width: 53%;
    display: flex;
}
.food-main-divider {
    width: 3px;
    background-color: #252525;
    border-radius: 0px 0px 2px 2px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.food-main-right {
    width: 47%;
    display: flex;
}
.food-input {
    width: 100%;
    display: flex;
    flex-direction: column;
    margin-left: 10px;
    margin-right: 15px;
    margin-top: 20px;
}
.mer-information-outer {
    margin-bottom: 15px;
}
.mer-information-container {
    width: 100%;
    display: flex;
    border-radius: 12px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    position: relative;
}
.mer-information-inner {
    width: 95%;
    display: flex;
    flex-direction: column;
    font-size: 12px;
    padding: 12px;
}
.mer-information-text-one {
    margin-bottom: 12px;
}
.mer-information-text-two {
    margin-bottom: 12px;
}
.click-to-hide {
    width: 32px;
    height: 32px;
    border-radius: 16px;
    background: none;
    padding: 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}
.hide-information {
    position: absolute;
    right: 0px;
    top: 0px;
}
.hide-active {
    position: absolute;
    right: 0px;
    top: -60px;
    padding-left: 2px;
}
.hide-active-icon {
    color: rgb(190, 190, 190);
}
.food-inputs-column-outer {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    font-size: 12px;
    text-align: center;
}
.food-item-column {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    padding-top: 10px;
    margin-bottom: 5px;
    box-sizing: border-box;
    border-radius: 12px;
}
.food-item-upper-permanent {
    width: 300px;
    display: flex;
    justify-content: start;
    align-items: center;
    position: relative;
}
.food-item-upper-permanent-container {
    width: 100%;
    height: 50px;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.decision-display {
    display: flex;
    flex-direction: row;
    position: absolute;
    align-items: center;
    font-size: 11px;
    bottom: -16px;
    left: -5px;
    color: grey;
}
.decision-display-icon {
    color: black;
    margin-right: 5px;
}
.decision-display-text {
    width: 250px;
    display: flex;
    justify-content: start;
}
.food-input-activated {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-right: 8px;
    position: relative;
}
.search-results-splitter {
    width: 100%;
    height: 350px;
    margin-top: 5px;
    display: flex;
    align-items: center;
}
.search-results {
    width: 50%;
    height: 100%;
    display: flex;
    flex-direction: column;
    padding-left: 8px;
}
.search-results-title {
    width: 100%;
    height: 8%;
    display: flex;
    align-items: center;
    padding-left: 3px;
    justify-content: start;
    border-bottom: 1px solid lightgray;
    font-weight: 500;
}
.search-items-container {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    align-items: start;
    justify-content: start;
}
.search-item {
    width: 100%;
    height: 12.5%;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 4px;
    border-bottom: 1px solid lightgray;
    border-radius: 0px;
    cursor: pointer;
    font-size: 12px;
    line-height: 12px;
    text-align: start;
}
.search-item-paragraph {
    width: 100%;
    display: flex;
    justify-content: start;
}
.search-item:hover {
    box-shadow: inset 0 0 0 2px #535bf2;
    border-radius: 8px;
}
.failure-message {
    width: 100%;
    padding-left: 10px;
    padding-right: 10px;
}
.select-page {
    width: 100%;
    height: 12%;
    display: flex;
    align-items: center;
    justify-content: center;
}
.select-page-button {
    width: 60px;
    height: 22px;
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    outline: 0px;
}
.select-page-button:hover {
    outline: 0px;
}
.select-page-button:focus-visible {
    outline: 0px;
}
.select-page-icon {
    color: white;
}
.sida {
    margin-left: 10px;
    margin-right: 10px;
}
.matvara {
    border-radius: 20px;
    border: none;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
    width: 220px;
    padding: 6px;
    padding-left: 14px;
    height: 30px;
    margin-right: 16px;
}
.matvara:focus,
.matvara:focus-visible {
    outline: 2px solid #535bf2;
}
.matvara::placeholder {
    font-style: italic;
    font-size: 12px;
}
.lagg-till-fler-outer {
    width: 300px;
    justify-content: start;
    align-items: center;
}
.lagg-till-fler {
    width: 100%;
    display: flex;
    margin-top: 10px;
    margin-bottom: 20px;
    padding: 6px;
}
.lagg-till-fler-text {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-right: 15%;
}
.generera-resultat {
    display: flex;
    padding: 6px;
    width: 98%;
    margin-left: 1%;
    margin-right: 1%;
}
.resultat-icon {
    margin-left: 15px;
}
.generera-resultat-text {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-right: 7%;
}
.lagg-till-fler, .generera-resultat {
    background: rgb(14,13,13);
    background: linear-gradient(90deg, rgba(14,13,13,1) 0%, rgba(28,28,28,1) 51%, rgba(15,15,15,1) 100%);
    color: white;
    font-size: 13px;
    font-weight: 500;
    box-shadow: rgba(0, 0, 0, 0.07) 0px 1px 1px, rgba(0, 0, 0, 0.07) 0px 2px 2px, rgba(0, 0, 0, 0.07) 0px 4px 4px, rgba(0, 0, 0, 0.07) 0px 8px 8px, rgba(0, 0, 0, 0.07) 0px 16px 16px;
}
.ta-bort {
    background: none;
    border: none;
    padding: 6px;
}
.plus-icon {
    margin-left: 15px;
}
.food-output {
    width: 88%;
    margin-left: auto;
    margin-top: 40px;
    display: flex;
    flex-direction: column;
}
.food-graph {
    display: flex;
    flex-direction: column;
    position: relative;
}
.food-graph-canvas {
    height: 300px;
    display: flex;
}
.food-graph-canvas-bar-container {
    background-color: transparent;
    flex: 1;
    display: flex;
    flex-direction: column-reverse;
    justify-content: end;
    align-items: center;
    height: 100%;
    overflow: hidden;
    max-height: 300px;
}
.food-graph-canvas-bar {
    width: 7px;
    min-height: 2px;
    border-top: 1px solid white;
    flex-shrink: 0;
}
.food-graph-canvas-limit-bar {
    height: 3px;
    background-color: dimgray;
    border-radius: 2px;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.food-graph-guideline {
    height: 3px;
    border-radius: 2px;
    background-color: #D6D6D6;
    position: absolute;
    width: 100%;
    z-index: -5;
}
.upperguide {
    top: 76px;
}
.midguide {
    top: 152px;
}
.lowerguide {
    top: 228px;
}
.food-graph-max, .food-graph-halfmax {
    width: 35px;
    display: flex;
    justify-content: end;
    position: absolute;
    font-size: small;
    font-weight: 500;
}
.food-graph-max {
    left: -38px;
    top: -9px;
}
.food-graph-halfmax {
    left: -38px;
    top: 143px;
    color: gray;
}
.food-graph-nutrients-outer {
    display: flex;
    height: 80px;
    font-size: 12px;
}
.mineral-text-container, .vitamin-text-container {
    width: 5.9%;
    display: flex;
}
.mineral-text-container {
    justify-content: center;
}
.vitamin-text-container {
    justify-content: center;
    padding-top: 2px;
}
.mineral-text {
    margin-top: 5px;
    display: flex;
    justify-content: start;
    writing-mode: vertical-lr;
}
.food-legend-outer {
    display: flex;
    flex-direction: column;
    min-height: 250px;
    font-size: small;
    margin-top: 5px;
}
.food-legend-toprow {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 15px;
}
.select-scale-container {
    width: 200px;
    margin-bottom: 15px;
}
.select-scale-column {
    display: flex;
    flex-direction: column;
}
.select-scale-label {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 3px;
    font-size: 12px;
}
.select-scale-buttons {
    display: flex;
    flex-direction: row;
    background-color: rgb(240, 240, 240);
    border-radius: 10px;
    background: none;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
}
.select-scale-button {
    width: 25%;
    height: 29px;
    background: none;
    outline: none;
    font-size: 13px;
    border-radius: 8px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.select-scale-button:hover,
.select-scale-button:focus-visible {
    outline: none;
}
.visa-container {
    width: 45px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: end;
    font-size: 13px;
    line-height: 13px;
}
.switch-container {
    display: flex;
    width: 12%;
    justify-content: end;
    align-items: center;
    margin-left: 2px;
    margin-right: 2px;
}
.food-legend-and-switch {
    display: flex;
    margin-bottom: 5px;
}
.food-legend-container {
    width: 86%;
    display: flex;
    justify-content: start;
    height: 25px;
    border-radius: 5px;
    background-color: white;
    border: none;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.food-legend-label {
    white-space: nowrap;
    overflow: hidden;
    mask-image: linear-gradient(to right, black 85%, transparent);
    width: 100%;
    display: flex;
    justify-content: start;
    align-items: center;
    max-width: 300px;
    font-size: 13px;
}
.food-legend-colormark-outer {
    width: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.food-legend-colormark {
    width: 30px;
    height: 12px;
    border-radius: 2px;
}
.switch {
    position: relative;
    display: inline-block;
    width: 36px;
    height: 20px;
}
.switch input {
    opacity: 0;
    width: 0;
    height: 0;
}
.slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: #ccc;
    -webkit-transition: .4s;
    transition: .4s;
    box-shadow: rgba(60, 64, 67, 0.3) 0px 1px 2px 0px, rgba(60, 64, 67, 0.15) 0px 2px 6px 2px;
}
.slider:before {
    position: absolute;
    content: "";
    height: 16px;
    width: 16px;
    left: 2px;
    bottom: 2px;
    background-color: white;
    -webkit-transition: .4s;
    transition: .4s;
}
input:checked + .slider {
    background-color: #252525;
}
input:checked + .slider:before {
    -webkit-transform: translateX(16px);
    -ms-transform: translateX(16px);
    transform: translateX(16px);
}
.slider.round {
    border-radius: 100px;
}
.slider.round:before {
    border-radius: 50%;
}
/* _____________________________________ */
@media (max-width: 988px) {
    .food-manager {
        width: 494px;
    }
    .food-main {
        flex-direction: column;
    }
    .food-main-left {
        width: 100%;
    }
    .food-main-right {
        width: 100%;
        margin-top: 30px;
    }
    .food-input {
        margin-left: 0px;
        margin-right: 0px;
    }
}
@media (max-width: 465px) {
    .food-manager {
        width: 100%;
    }
}
@media (max-width: 400px) {
    .mer-information {
        margin-left: 20px;
    }
    .restore-button {
        margin-left: 15px;
    }
}